@import url("../main/__colors.scss");
@import url("../main/__fonts.scss");

.footer {
   background-color: $black;
   font-family: 'Alata', sans-serif;

   &-container {
      padding: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 30px;

      @media (max-width: 375px)  {
        padding: 70px 30px;
      }

      &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;

        @media (max-width: 815px) {
          flex-direction: column;
          gap: 30px;
        }

        &-social-media {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 20px;

          @media(max-width: 375px) {
            display: none;
          }
        }
      }

      &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 815px) {
          flex-direction: column;
          gap: 30px;
        }

        &-nav {
          ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: row; 
            gap: 30px;
            padding: 0;

            @media (max-width: 375px) {
              flex-direction: column;
              align-items: center;
            }
         
            li {
              list-style: none;

              a {
                color: #fff;
                text-decoration: none;
                font-size: 15px;

                  
              }
          
            }
          }

          
          
        }

        &-rights {
          color: $dark-gray;

          @media (max-width: 375px) {
            align-items: center;
            text-align: center;
          }
        }

        &-social-media {
          display: none;

          @media (max-width: 375px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap: 20px;
          }


        }
      }

    }
}